<p id="notice"><%= notice %></p>

<h1>Listing Zombies</h1>
  <div id="zombies">
    <!-- <% @zombies.each do |zombie| %>
      <%= render zombie %>
    <% end %> -->
    
    <%= render @zombies %>
    <%= form_for(Zombie.new, remote: true) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Zombie', new_zombie_path %>
